<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
       <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <title></title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body class="max-w-4xl mx-auto">
    <div class="py-8">
      <h1 class="text-3xl font-semibold">Isaque Franklin</h1>
      <p>Engineer, hacker, inventor.</p>
      <hr>
      <small>Future billionaire.</small>

     <div id="film-list">
       {{ range .Films }}
        <div class="border border-gray-700 rounded-xl p-4 mt-4">
           <p>{{ .Title }} - {{ .Director }}</p>
        </div>
      {{ end}}

     </div>
      <div class="mx-auto">
        <h1 class="text-xl">Add a film</h1>

        <form hx-post="/add-film/" hx-target="#film-list" hx-swap="beforeend">
          <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="" />
          </div>

           <div>
            <label for="Director">Director</label>
            <input type="text" name="director" id="director" class="" />
          </div>

          <button type="submit">
            <span>Submit</span>
          </button>
 
        </form>
        
      </div>  

    </div>
  </body>
</html>
